@model CommunityWeb.ViewModels.AnswerViewModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/ViewQuestion.css" />
<div class="container">
    <div class="col-md-10">
        <!-- Question -->
        <div id="question-title"><h4>@Model.Question.Title</h4></div>
        <div id="question-content">
            <div id="question-description">@Model.Question.Description</div>
            <hr id="hr-question"/>
            <div id="answer-btn-div" class="col-md-8">
                <button id="answer-btn" type="button" class="btn btn-success">ផ្តល់ចម្លើយ</button>
            </div>
            <div class="col-md-4 date-and-profile">
                <span id="ask-date">@Model.Question.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss tt")</span>
                <img src=@Model.Question.User.ImgUrl class="img-circle pull-right" width="44" height="44">
                <div id="asker" class="text-right">@Model.Question.User.UserName</div>
            </div>
        </div>
        <!-- Answer Form -->
        <div class="form-group answer-form">
            <label>សូមបញ្ចូលចម្លើយរបស់អ្នក:</label>
            <textarea class="form-control answer-description" rows="4"></textarea>
            <div class="submit-cancel-btn-div">
                <button type="submit" class="btn btn-success submit-btn">ដាក់ស្នើ</button>
                <button type="button" class="btn btn-danger cancel-btn">បោះបង់</button>
            </div>
        </div>
        <!-- Answers -->
        @if (Model.Answers.Count > 0)
        {
            <div id="answer-div">
                <div id="answer-title"><h4>មាន​​ @Model.Answers.Count ចម្លើយ</h4></div>
                @foreach (var answer in Model.Answers)
                {
                    <div class="answer-content">
                        <div class="answer-description">@answer.Description</div>
                        <hr class="hr-answer" />
                        <div class="col-md-8 comment-label"><h5>មតិលើចម្លើយ</h5></div>
                        <div class="col-md-4 date-and-profile">
                            <span class="answer-date">@answer.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss tt")</span>
                            <img src=@answer.User.ImgUrl class="img-circle pull-right" width="44" height="44">
                            <div class="answerer text-right">@answer.User.UserName</div>
                        </div>
                    </div>
                    <!-- Comments -->
                    if (Model.Comments.Count > 0)
                    {
                        foreach (var comment in Model.Comments)
                        {
                            if(comment.AnswerId == answer.Id)
                            {
                                <div class="comment-div">
                                    <div class="col-md-1 commenter-profile">
                                        <img src=@comment.User.ImgUrl class="img-circle pull-right" width="34" height="34">
                                    </div>
                                    <div class="col-md-9">
                                        <div><b>@comment.User.UserName</b></div>
                                        <div>@comment.Description</div>
                                        <hr class="hr-comment" />
                                    </div>
                                    <div class="col-md-2 comment-date">
                                        <div>@comment.CreatedDate.ToString("dd/MM/yyyy")</div>
                                    </div>
                                </div>
                            }
                        }
                    }
                    <div class="comment-div input-comment-div">
                        <div class="col-md-1">
                            <img src=@ViewBag.CurrentUserProfile class="img-circle pull-right" width="34" height="34">
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control comment-description" data-answer-id=@answer.Id placeholder="ផ្តល់មតិតាមប្រអប់បញ្ចូលមួយនេះ..." />
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="col-md-2">
                                <button type="button" class="btn btn-success comment-btn" data-answer-id=@answer.Id>ដាក់ស្នើ</button>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-2">
                                <button disabled type="button" class="btn btn-success comment-btn" data-answer-id=@answer.Id>ដាក់ស្នើ</button>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
    <!-- Question Detail -->
    <div id="question-detail" class="col-md-2">
        <div id="detail" class="alert alert-warning">
            @if (@DateTime.Now.Subtract(@Model.Question.CreatedDate).Days == 0)
            {
                <div>បានសួរ <b>ថ្ងៃនេះ</b></div>
            }
            else if (@DateTime.Now.Subtract(@Model.Question.CreatedDate).Days == 1)
            {
                <div>បានសួរ <b>ម្សិលមិញ</b></div>
            }
            else
            {
                <div>បានសួរ <b>@DateTime.Now.Subtract(@Model.Question.CreatedDate).Days</b> ថ្ងៃមុន</div>
            }
            <div><b>សំណួរទាក់ទងនឹង៖</b></div>
            @if (Model.Topics.Count > 0)
            {
                <ul>
                    @foreach (var topic in Model.Topics)
                    {
                        <li>@topic.Topic.Name</li>
                    }
                </ul>
            }
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            // Open answer form
            $('#answer-btn').click(function () {
                @if (User.Identity.IsAuthenticated)
                {
                    @:$('.answer-form').slideDown('fast');
                    @:$('textarea').focus();
                }
                else
                {
                    @:alert('You must log in to answer!');
                }
            });
            // Submit answer
            $('.submit-btn').click(function () {
                var answerDescription = $('.answer-description').val();
                $.ajax({
                    type: 'POST',
                    url: '/Answers/Answer',
                    data: {
                        'QuestionId': @Model.Question.Id,
                        'AnswerDescription': answerDescription
                    },
                    success: function (res) {
                        $('textarea').val('');
                        $('.answer-form').slideUp('fast');
                        window.location.reload();
                    },
                    error: function () {
                        alert('Something went wrong!')
                    }
                });
            });
            // Cancel submit answer
            $('.cancel-btn').click(function () {
                $('textarea').val('');
                $('.answer-form').slideUp('fast');
            });
            // Comment
            $('.comment-btn').click(function () {
                var answerId = $(this).attr("data-answer-id");
                var commentDescription = $(".comment-description[data-answer-id='" + answerId + "']").val();
                $.ajax({
                    type: 'POST',
                    url: '/Comments/Comment',
                    data: {
                        'QuestionId': @Model.Question.Id,
                        'AnswerId': answerId,
                        'CommentDescription': commentDescription
                    },
                    success: function (res) {
                        $('.comment-description').val('');
                        window.location.reload();
                    },
                    error: function () {
                        alert('Something went wrong!!!')
                    }
                });
            });
        });
    </script>
}