@model CommunityWeb.Models.Question

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/ViewQuestion.css" />

<div class="container">
    <div class="col-md-10">
        <div id="question-title"><h4>@Model.Title</h4></div>
        <div>
            <div id="question-description">@Model.Description</div>
            <div id="answer-comment" class="col-md-9">
                <button id="answer-btn" type="button" class="btn btn-success">Answer</button>
                <button id="comment-btn" type="button" class="btn btn-success">Comment</button>
            </div>
            <div id="date-and-profile" class="col-md-3">
                <span id="date">@Model.CreatedDate</span>
                <img src="@Model.ImageUrls" class="img-circle pull-right" width="44" height="44">
                <div id="username" class="text-right">@ViewBag.UserName</div>
            </div>
        </div>
        @using (Html.BeginForm("Answer", "Questions"))
        {
            <div id="answer-form" class="form-group">
                <label>Your Answer:</label>
                <textarea id="answer-description" class="form-control" rows="5"></textarea>
                <div id="submit-cancel">
                    <button id="submit-btn" type="submit" class="btn btn-success">Submit</button>
                    <button id="cancel-btn" type="button" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        }
    </div>
    <div id="question-detail" class="col-md-2">
        <div id="detail" class="alert alert-warning">
            <b>@DateTime.Now.Subtract(@Model.CreatedDate).Days</b> days ago
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $('#answer-btn').click(function () {
                $("#answer-form").slideDown("fast");
                $('textarea').focus();
            });
            $('#cancel-btn').click(function () {
                $('textarea').val("");
                $("#answer-form").slideUp("fast");
            });
        });
    </script>
}