@model CommunityWeb.Models.IndexViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Manage";
}

<h2>គ្រប់គ្រងគណនី</h2>

@*<p class="text-success">@ViewBag.StatusMessage</p>*@
<div>
    @*<h4>កែប្រែព័ត៌មានរបស់គណនី</h4>*@
    <hr />
    <dl class="dl-horizontal">

        @*link to UserProfileChange*@
        <dt>រូបភាព:</dt>
        <dd>
            @Html.ActionLink("ផ្លាស់ប្ដូររូបភាពនៅទីនេះ", "UserProfileChange")
        </dd>

        @*link to UserNameChange*@
        <dt>ឈ្មោះ:</dt>
        <dd>
           @Html.ActionLink("ផ្លាស់ប្ដូរឈ្មោះនៅទីនេះ", "UserNameChange")
        </dd>

        @*link to ChangePassword*@
        <dt>លេខសំងាត់:</dt>
        <dd>
            
            @if (Model.HasPassword)
            {
                @Html.ActionLink("ផ្លាស់ប្ដូរលេខសំងាត់នៅទីនេះ", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("បង្កើតលេខសំងាត់នៅទីនេះ", "SetPassword")
            }
            
        </dd>
        @*link to ManageLogins*@
        <dt>ការចុះឈ្មោះតាមបណ្ដាញសង្គម:</dt>
        <dd>
            @Model.Logins.Count 
            @Html.ActionLink("គ្រប់គ្រងការចុះឈ្មោះ", "ManageLogins") 
        </dd>

        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
          
            <dt>លេខទូរស័ព្ទ:</dt>
            <dd>
                @(Model.PhoneNumber ?? "មិនមានលេខទូរសព្ទ") 
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("ផ្លាស់ប្ដូរលេខទូរសព្ទនៅទីនេះ", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("លុបលេខចោល", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("បន្ថែមលេខថ្មី", "AddPhoneNumber")
                }
                
            </dd>
        

        <dt>Two-Factor Authentication:</dt>
        <dd>
            @*<p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>*@
            @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>បើកដំណើរការ
                        <input type="submit" value="បិទដំណើរការ" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>បិទដំណើរការ
                        <input type="submit" value="បើកដំណើរការ" class="btn btn-link" />
                        </text>
                    }
                }
        </dd>
        
    </dl>
</div>
