@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right ">
        @*add profile picture*@ 
        <li>
            <a href="/Manage" style="padding:0 0">
                
                @if (TempData["ImageUrl"] == null)
                {
                    TempData.Keep("ImageUrlkeep");
                    <img class="img-circle" src="~/ProfilePicture/588px-rupp_logo.png" height="45" width="45" alt="Profile Picture" style="color:red" />
                }
                else
                {
                    <img class="img-circle" src="~/ProfilePicture/@TempData["ImageUrl"]" height="45" width="45" alt="Profile Picture" style="color:red" />
                }
            </a>
        </li>

        <li>
            @if (TempData["UserNameKeep"] != TempData["UserName"])
            {
                TempData.Keep("UserNameKeep");
                @Html.ActionLink("សួស្ដី " + @TempData["UserNameKeep"], "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            }
            else
            { 
                TempData.Keep("UserNameKeep");
                @Html.ActionLink("សួស្ដី " + @TempData["UserNameKeep"], "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            }

        </li>

        <li><a href="javascript:document.getElementById('logoutForm').submit()">ចេញពីគណនី</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        
        <li>@Html.ActionLink("ចុះឈ្មោះ", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("ចូលគណនី", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

@*@section Scripts {
   
}*@